{% extends 'base.html' %}
{% load static crispy_forms_tags %}

{% block title %}
    Edit Profile
{% endblock %}
{% block content %}
<style>
    .form-group{
        margin:5px
    }
</style>
<div class="container" >
    <h3 class="heading">Edit Profile</h3>
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissable">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row" >
            <div class="col-lg-4" >
                <div class="box">
                    <img src="{{ request.user.avatar.url }}" alt="avatar" class="rounded-circle">
                    {{ form.avatar|as_crispy_field }}
                </div>
            </div>
            <div class="col-lg-8" >
                <div class="box">
                    <div class="form-row">
                        <div class="form-group">
                            {{ form.first_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.last_name|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.email|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.telephone|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.birth_date|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.residence|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.academic_qualification|as_crispy_field }}
                        </div>
                        
                        <div class="form-group">
                            {{ form.current_salary|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.expected_salary|as_crispy_field }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" >
            <div class="col-lg-4" >
                <div class="box">
                    <object data="{{ request.user.resume.url }}" type="application/pdf" style="width:100%; height:200px;">
                        <iframe src="https://docs.google.com/viewer?url={{request.user.resume.url}}&embedded=true" 
                          >
                        </iframe>
                      </object>
                    {{ form.resume|as_crispy_field }}
                </div>
            </div>
            <div class="col-lg-8" >
                <div class="box">
                    <div class="form-row">
                        <div class="form-group">
                            {{ form.job_preference|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.working_experience|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.level|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.profile_summary|as_crispy_field }}
                        </div>
                        <div class="form-group">
                            {{ form.terms_and_conditions|as_crispy_field }}
                        </div>
                        
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-outline-white-primary">
                        <i class="fa fa-signing"></i> Update
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>  
    
{% endblock %}